<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wong.upala.mapper.AddDataMapper" >

    <insert id="addData" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO prov_city_town (`name`, parentid, parentname, areacode, zipcode, depth, ident) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.name},#{item.parentid},#{item.parentname},#{item.areacode},#{item.zipcode},#{item.depth},#{item.id})
        </foreach>
    </insert>

    <select id="queryProvince" resultType="java.util.LinkedHashMap" >
        SELECT * FROM prov_city_town WHERE parentid = #{parentId}
    </select>

</mapper>
